.header--container {
  @apply relative flex items-center justify-between py-3;

  &:after {
    content: "";
    margin-left: 211px;
    margin-right: 211px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
  }
}

.logo {
  @apply rounded-full p-1 transition-all delay-100 duration-200;
}
.logo-container {
}
.logo-title {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0 0 20px #b77a50;
}
.logo-text {
  color: rgba(255, 232, 50, 0.9);
  text-shadow: 0 0 5px rgba(255, 245, 0, 1), 0 0 28px rgba(255, 44, 0, 0.9),
    0 0 50px rgba(255, 120, 0, 0.5), 0 0 24px rgba(255, 255, 255, 0.8);
  -webkit-text-stroke: 1px rgba(255, 160, 0, 0.45);
  letter-spacing: 2px;
}

.header-logo--container {
  @apply mr-2 lg:mr-8 flex items-center;
}

.header-container {
  @apply h-[69px] md:h-[160px];
  display: flex;
  align-items: center;
  transition: height 0.5s;
}

.header-scrolled {
  @apply h-[69px];
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  background-color: #f9f1e8;
  background-image: url("/images/header-board.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-hero-banner {
  background: #f9f1e8;
  background: linear-gradient(
    0deg,
    rgba(233, 198, 166, 1) 0%,
    rgba(245, 227, 212, 1) 40%,
    rgba(255, 249, 243, 0.7987788865546218) 100%
  );
}
